.mobile-logo {
  width: 100px;
  position: fixed;
  left: 15px;
  top: 30px;
}
.mobile-menu {
  font: inherit;
  position: fixed;
  top: 36px;
  right: 15px;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  z-index: 200;
}
.mobile-menu:focus {
  outline: none;
}
.mobile-menu:hover {
  opacity: 0.7;
}
.mobile-menu .mobile-menu-inner {
  top: 2px;
}
.mobile-menu .mobile-menu-inner:before {
  top: 10px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform, opacity;
}
.mobile-menu .mobile-menu-inner:after {
  top: 20px;
}
.mobile-menu.active .mobile-menu-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.mobile-menu.active .mobile-menu-inner:before {
  opacity: 0;
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
}
.mobile-menu.active .mobile-menu-inner:after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}
.mobile-menu-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.mobile-menu-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}
.mobile-menu-inner, .mobile-menu-inner:before, .mobile-menu-inner:after {
  position: absolute;
  width: 30px;
  height: 2px;
  border-radius: 4px;
  background-color: #868e96;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
}
.mobile-menu-inner:before, .mobile-menu-inner:after {
  display: block;
  content: '';
}
.mobile-menu-inner:before {
  top: -10px;
}
.mobile-menu-inner:after {
  bottom: -10px;
}