.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 300px;
  height: 100%;
  background-color: #343a40;
  padding-bottom: 64px;
  transform: translateX(-300px);
  z-index: 100;
}
@media (min-width: 992px) {
  .sidebar {
    transform: none;
  }
}
.sidebar.active {
  transform: none;
}
.sidebar-logo-wrapper {
  height: 100px;
  display: flex;
}
.sidebar-logo {
  display: block;
  width: 100px;
  margin: auto;
}
.sidebar ::-webkit-scrollbar {
  width: 5px;
}
.sidebar ::-webkit-scrollbar-track {
  border-radius: 0;
  background: #343a40;
}
.sidebar ::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #868e96;
}